{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">

    <meta name="description" content="HamroKheti is an Agriculture company in Nepal empowering farmers by
     investing on agriculture using digital platform.">
    <meta name="Keywords" content="HamroKheti,hamro kheti,Agriculture in Nepal,Agtech in Nepal,investment,invest
     in agriculture,Agriculture,online kheti,smart kheti,smartKheti,krishi,krishibikashbank,krisi anudan,kissan,
     agriculture loan,nepali krishi,Nepalese agriculture,food online,online,online shopping,online vegetables,
     vegetbles online,organic,organic farming,farming,organic food,organic vegetables,organic food">
    <meta name="author" content="redshift,redshift tech">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'Fund_farm/css/style.css' %}">
    <title>HamroKheti invest in Agriculture</title>
    <style>
 .banner{
background-image:url({% static 'Fund_farm/images/Paddy.jpg' %});
background-repeat: no-repeat;
background-size: cover;
}
    </style>
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-success bg-white static-top" >
        <div class="container" style="margin-top:-1rem; margin-bottom :-2rem;">
            <a class="navbar-brand" href="#">
                <img src="{% static 'Fund_farm/images/HamroKhetilogo.png'%}" alt="" width="125" height="125">
            </a>
            <button class=" navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon btn btn-warning  bg-success"></span>
            </button>
            <div class="  collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" >
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="color:green;" onMouseOver="this.style.color='orange'"
                            onMouseOut="this.style.color='green'"><strong>HOME</strong>
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:green;"onMouseOver="this.style.color='orange'"
                            onMouseOut="this.style.color='green'"><strong>VISIT FARMS</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:green;"onMouseOver="this.style.color='orange'"
                          onMouseOut="this.style.color='green'"><strong>ABOUT</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:green;"onMouseOver="this.style.color='orange'"
                           onMouseOut="this.style.color='green'"><strong>SERVICES</strong>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" style="color:green;"onMouseOver="this.style.color='orange'"
                          onMouseOut="this.style.color='green'"><strong>CONTACT</strong>
                        </a>
                    </li>
                    <li>
                        <a class="nav-link" aria-current="false" href="#"><button class="btn-round btn-success m-0
                          font-weight-bold btn btn-secondary btn-md" style="color:orange;">SING UP</button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block farm_content %}
    {% endblock %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
</body>
</html>