{% extends 'base.html'%}
{% block farm_content%}
<h1>Invest On Agriculture And Earn Profit</h1>
<h2> Empower Farmers And Be The Part Of Agricultural Revolution In Nepal </h2>
<div class="row">
     {% for farm in farms %}
    <div class="col">
        <div class="card " style="width: 18rem;" >
            <img src="{{farm.image_url}}" class="card-img-top" alt="responsive image">
            <div class="card-body">
                <h5 class="card-title">{{ farm.crop_name}}</h5>
                <p class="card-text">RS: {{farm.cost_per_unit}}/-</p>
                <p class="card-text"> <strong>{{farm.roi_in_percent}}% return in {{farm.tenure_for_ROI}}</strong></p>
                <a href="#" class="btn btn-primary">Fund {{farm.crop_name}} Farm</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{%endblock%}



